click
pytest
pytest-html
pytest-xdist
pytest-order
tftest
PyYAML
boto3
filelock
requests
selenium
seleniumbase
webdriver_manager
cryptography
azure-mgmt-resource
azure-identity
azure-mgmt-compute
azure-mgmt-storage
azure-mgmt-network
azure-mgmt-authorization
docker
paramiko
google-api-python-client
google-cloud-iam
pywinrm
google-cloud-pubsub
google-cloud-storage
google-cloud-logging
google-cloud-compute
